@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #fcfdfe;
  min-height: 100%;
  margin: 0;
  position: relative;
  color: #4d5659; font-family: helvetica neue, helvetica, arial, sans-serif; font-size: 16px; line-height: 1.5;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

button,
input {
  margin: 0;
  color: inherit; font: inherit;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
}

button[disabled] {
  cursor: default;
}

input {
  padding: 0;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  font-weight: 300; line-height: 1.25;
}

h1, h2, h3, h4, h5, h6, strong {
  color: black;
}

p {
  margin: 0 0 30px 0;
}

p, label {
  font-family: "Open Sans", sans-serif;
}

a {
  cursor: pointer;
  color: #00b0e9; text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  color: #00a6db;
}

.button {
  background: #00b0e9;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
}

.button,
.button:hover {
  color: white;
}

.button:hover {
  background: #00769d;
}

.button:disabled {
  background-color: #74ddff;
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}

.button-success {
  background: #43bb6e;
}

.button-success:hover {
  background: #2f834d;
}

small {
  font-size: 12px;
}

p {
  margin: 0; padding: 0;
}

.margin-top {
  margin: 30px 0 0 0;
  text-align: center;
}

#main-container {
  border: 2px solid #00b0e9;
  border-radius: 3px;
  padding: 20px;
  width: 450px;
  position: absolute; top: 50%; left: 50%;
}

#wod-container h2 {
  text-align: center;
}

.separator {
  display: inline-block;
  color: #999; padding: 0 10px;
}

#footer {
  position: absolute; bottom: 10px;
  width: 100%;
  text-align: center;
}
