*, *:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
  color: #4d5659;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  color: #000;
  font-weight: 300;
  line-height: 1.25;
}

p {
  margin: 0 0 30px 0;
}

ul, ol {
  margin: 0 0 30px 0;
  padding: 0 0 0 30px;
}

.list-unstyled {
  padding: 0;
}

ul li {
  list-style: disc;
  font-size: 18px;
}

.list-unstyled li {
  list-style: none;
}

a {
  cursor: pointer;
  color: #00b0e9;
  text-decoration: none;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

select,
.form-input,
.form-checkbox,
.form-radio {
  outline: 0;
}

.form-input {
  border: 1px solid #e6eaed;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
}

.button, .button:hover {
  color: #fff;
}

.button {
  background: #00b0e9;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 6px 10px;
  text-align: center;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 901px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.workout {
  padding: 50px 0;
}

.footer {
  position: absolute; bottom: 10px;
  width: 100%;
  text-align: center;
}
